<component name="libraryTable">
  <library name="Spring-4.3.4">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/lib/Spring-4.3.4.RELEASE" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/lib/Spring-4.3.4.RELEASE" recursive="false" />
  </library>
</component>